*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  align-items: center;
  display: flex;
  background-color:#333 ;
  justify-content: center;
  font-family: sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=numer]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin:0;
}
sub{
  transform: scale(.8);
}
.container{
  background-color: hsl(210, 100%, 20%);
  display: grid;
  grid: 15% 70% 15% / 100%;
  font-size: 12px;
  border-radius: 10px;
  height: 90vh;
  width: 400px;
}
.converter{
  background-color: rgb(201, 179, 147);
  display: grid;
  grid: repeat(3, 1fr) / 1fr;
}
.convert-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.converter-input{
  background-color: hsla(120, 60%, 30%,.8);
  box-shadow:  0px 1px 10px inset;
  font-size: 2em;
  height: 50px;
  width: 60%;
  text-align: center;
}
.converter-input:focus{
  outline: none;
}
.converter-output{
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid white;
}
.converter-output:focus{
  outline: none;
}
.header{
  display: flex;
  color:white;
  border-bottom: 5px solid black;
  justify-content:center;
  align-items: center;
  letter-spacing: 3px;
  font-size: 1.5em;
  width: 100%;
}
.icon{
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
.type{
  color:black;
  display: flex;
  width: 10%;
  height: 70%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;

}
.bin{
  color: midnightblue;
  border-color: midnightblue;
}
.hex{
  color: brown;
  border-color: brown;
}
.footer{
  border: none;
  border-top: 5px solid black;
  font-size: 1em;
  font-style: italic;
  color:gray;
  width: 100%;
}
@media screen and (max-width:480px){
 .container{
   height: 93vh;
   width: 100%;
   border-radius:0;
 }
 .header{
   font-size: 2em;
 }
 .footer{
   font-size: 1.5em;
 }
 .icon{
   height: 25px;
   width: 25px;
 }
}
@media screen and (max-height:480px){
  .container{
    height: 90vh;
    width: 100%;
  }
}

