*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  align-items: center;
  display: flex;
  background-color: #333;
  justify-content: center;
}
.container{
  align-content: flex-end;
  background-color: gray;
  border-radius: 10px;
  display: grid;
  grid: repeat(2,40%) / 1fr;
  height: 300px;
  width: 400px;
  position: relative;
}
.converter{
  /* border: 1px solid black; */
  background-color: lightgray;
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.converter-input{
  background-color: hsla(120, 100%, 30% , .5);
  border: none;
  box-shadow: .5px -.5px 10px black inset;
  height: 40px;
  margin-bottom: 15px;
  text-align: center;
}
.converter-input:focus{
  outline-color:hsla(120, 100%, 30% , .5) ;
}
.input-box{
  position: relative;
}
.input-box::after{
  content: '=>';
  left: 110%;
  font-size: 1.5em;
  position: absolute;
  top: 15%;
}
.title{
  margin: 0;
  position: absolute;
  text-align: center;
  top: 15%;
  width: 100%;
}
.container > .title{
  top: 5%;
  color: gold;
}
@media screen and (max-width:480px){

  .container{
    width: 100vh;
  }
  .title{
    font-size: 1.2em;
  }
  .converter-input{
    transform: scale(.8);
  }
  .input-box::after{
    left: 95%;
  }
}
