body{
  align-items: center;
  display: flex;
  background-color:#333 ;
  justify-content: center;
  font-family: sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=numer]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin:0;
}
::-webkit-input-placeholder{
  color: rgba(0, 0, 0, .5);
}
::-moz-placeholder  {
  color: rgba(0, 0, 0, .5);
}
sub{
  transform: scale(.8);
}
.main-container{
  background-color: hsl(210, 100%, 20%);
  display: grid;
  grid: 15% 70% 15% / 100%;
  font-size: 12px;
  border-radius: 10px;
  height: 90vh;
  width: 450px;
}
.main-container__converter{
  background-color: rgb(201, 179, 147);
  display: grid;
  grid: repeat(3, 1fr) / 1fr;
}
.converter__item{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.converter__input{
  background-color: hsla(120, 60%, 30%,.6);
  box-shadow:  0px 2px 10px  inset;
  font-size: 2.5em;
  height: 70px;
  width: 70%;
  text-align: center;
}
.converter__input:focus{
  outline: none;
}
.converter__output{
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid white;
}
.converter__output:focus{
  outline: none;
}
.main-container__header{
  display: flex;
  color:white;
  border-bottom: 5px solid black;
  justify-content:center;
  align-items: center;
  letter-spacing: 3px;
  font-size: 2em;
  width: 100%;
}
.icon{
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.converter__output-name{
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;

}
.option-box{
  position: absolute;
  height: 50px;
  width: 70%;
  transform: translateY(120%);
  /* border: 1px solid black; */
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
}
.option{
  transform: scale(1.5);
}
.output1{
  color: midnightblue;
  border-color: midnightblue;
}
.output2{
  color:brown;
  border-color: brown;
}
.main-container__footer{
  border: none;
  border-top: 5px solid black;
  font-size: 1.5em;
  font-style: italic;
  color:gray;
  width: 100%;
}
@media screen and (max-width:480px){
 .main-container{
   height: 93vh;
   width: 100%;
   border-radius:0;
 }
 .icon{
   height: 25px;
   width: 25px;
 }
 .main-container__header {
   font-size: 1.5em;
 }
 
 .main-container__footer{
   font-size: 1.2em;
 }
}
@media screen and (max-height:480px){
  .main-container{
    height: 90vh;
    width: 100%;
  }
}
